/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


/* my css */

body { margin:0; 
  font-family: Inter,
   Arial, sans-serif; 
   background:#fbfbfd;
 }
.header { padding: 16px; 
  background: #0f172a; 
  color: #fff; display:flex; 
  align-items:center;
   gap:12px; 
  }
.container { padding: 20px; 
  max-width: 1200px; 
  margin: 0 auto;
 }
.card { background: #fff;
   border-radius: 8px; 
   padding: 12px; 
   box-shadow: 0 4px 12px rgba(10,10,10,0.06); 
  }
button { padding:8px 12px; 
  border-radius:6px;
   border:none; 
   background:#0ea5a4; 
   color:#fff;
    cursor:pointer; 
  }
input { padding:8px; 
  border:1px solid #ddd;
   border-radius:6px; }
.leaflet-container { 
  border-radius: 8px;
 }
.legend { position:absolute;
   right:12px; 
   top:80px; 
   z-index:1000; 
   background:#fff; 
   padding:8px; border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1) }
